@font-face {
	font-weight: 100;
	font-family: "AvenirNext";
	src: url("./fonts/AvenirNext/AvenirNextCyr-Thin.ttf");
}

@font-face {
	font-weight: 300;
	font-family: "AvenirNext";
	src: url("./fonts/AvenirNext/AvenirNextCyr-Regular.ttf");
}

@font-face {
	font-weight: 600;
	font-family: "AvenirNext";
	src: url("./fonts/AvenirNext/AvenirNextCyr-Demi.ttf");
}

@font-face {
	font-weight: 100;
	font-family: "OpenSans";
	src: url("./fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
	font-weight: 300;
	font-family: "OpenSans";
	src: url("./fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
	font-weight: 600;
	font-family: "OpenSans";
	src: url("./fonts/OpenSans/OpenSans-Bold.ttf");
}


@font-face {
	font-weight: 100;
	font-family: "ProximaNova";
	src: url("./fonts/ProximaNova/ProximaNova-Light.otf");
}

@font-face {
	font-weight: 300;
	font-family: "ProximaNova";
	src: url("./fonts/ProximaNova/ProximaNova-Reg.otf");
}

@font-face {
	font-weight: 600;
	font-family: "ProximaNova";
	src: url("./fonts/ProximaNova/ProximaNova-Bold.otf");
}

@font-face {
	font-weight: 100;
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-Thin.ttf");
}

@font-face {
	font-weight: 300;
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "EntypoSocial";
	src: url("./fonts/entypo-social.ttf");
}

@font-face {
	font-weight: 600;
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
}

.header {
	background-color: #fff;	
	background-image: url(./images/header_fl.jpeg);	
	background-position: center bottom;	
	background-size: cover;
	background-repeat: no-repeat;	
	height: 550px;
	position: relative;
	z-index: 1;
}

.header::after {
	position: absolute;
	top: 0px;
	display: block;
	background-color: rgba(179,206,227,0.7);
	height: 550px;
	width: 100%;
	content: "";
	z-index: 2;
}

.header-title {
	z-index: 4;
	position: relative;
}

.header-title h1 {
	font-weight: 100;
	font-family: "OpenSans";
	color: white;
	font-size: 35px;
	text-align: center;
	margin-top: 0;
	padding-top: 230px;
}

.header::before {
	position: absolute;
	top: 521px;
	display: block;
	background-image: url(./images/sea.svg);
	background-position: center bottom;	
	height: 30.2px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	content: "";
	z-index: 3;
}

@media only screen 
and (min-width: 1025px) {

	.header {
		background-image: url(./images/header_fl.jpeg);	
	}
}

.section-ourproducts {
	height: 970px;
	background-color: #fff;
	overflow: scroll;
}

.section-title {
	font-weight: 600;
	font-family: "OpenSans";
	color: black;
	font-size: 25px;
	text-align: center;
	margin-top: 0;
	padding-top: 35px;
	padding-bottom: 40px;
}

.ourproducts-description {					/* Вся таблица с вкладками - внешняя форма*/
	width: 100%;
	margin: 0;
}

.ourproducts-flexbox {						/* Вся таблица с вкладками - внутренняя структура*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	height: 825px;
	margin-top: 30px;
	margin: auto;
}

.ourproducts-flexbox__nav {					/*Общий вид боковых вкладок, фон*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	list-style: none;
}

.ourproducts-flexbox__nav li {				/*Вид боковых вкладок в инактивном состоянии*/
	width: 25%;
	max-width: 100px;
	height: 0px;
	position: relative;
}

.ourproducts-flexbox__nav li a {			/*Общий вид боковых вкладок, текст*/
	display: block;
	width: 100%;
	max-width: 100px;
	height: 0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select:after {
	content: "";
	display: block;
	padding-bottom: 100%;
	border-radius: 50%;
	background-color: #cddfed;
	border: solid 1px #fff;
}

.ourproducts-flexbox__nav li a:after {		/*Общий вид боковых вкладок, текст*/
	content: "";
	display: block;
	padding-bottom: 100%;
	border-radius: 50%;
	background-color: #f0f7fb;
	border: solid 1px #fff;
}

.tab_image {
	width: 70%;
	height: auto;
	position: absolute;
	padding: 15% 15%;
}

.ourproducts-flexbox__col1 {				/*Вид блока-описания*/
	display: none;
}

.ourproducts-flexbox__col2 {				/*Граница между блоками-описаниями*/
	display: none;
}

.ourproducts-flexbox__col3 {				/*Вид блока-описания*/
	height: 725px;
	width: 90%;
	background-color: #fff;
}

.ourproducts-flexbox__col3--mobflex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 725px;
}

.ourproducts-flexbox__col3 h3 {				/*Название продукта на малом экране*/
	display: block;
	font-weight: 600;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 30px;
}	

.ourproducts-flexbox__col3 img {			/*Картинка на малом экране*/
	display: block;
	border-radius: 50%;
	margin: auto;
}

.ourproducts-text {							/*Описание продукта*/
	display: inline-block;
	width: 80%; 
	height: auto;
	padding-top: 50px;
	margin: auto;
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;
	text-align: justify;
}

.ourproducts-price {						/*Цена на малом экране*/
	display: inline-block;
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.ourproducts-flexbox__col3 a {				/*Кнопка заказа*/
	font-weight: 600;
	font-family: "OpenSans";
	color: black;
	font-size: 17px;
	text-decoration: none;
	background-color: #e6eff6;
	border: none;
	padding: 15px 60px 15px 60px;
	width: 80px;
	margin: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	
}


@media only screen 
and (min-width: 1024px) {

	.section-ourproducts {
		height: 700px;
	}

	.ourproducts-description {					/* Вся таблица с вкладками - внешняя форма*/
		margin-top: 30px;
		position: relative;
	}

	.ourproducts-flexbox {						/* Вся таблица с вкладками - внутренняя структура*/
		flex-direction: row;
		width: 960px;
		background-color: #e6eff6;
		height: 480px;
		margin-top: 0;
	}

	.ourproducts-flexbox__nav {					/*Общий вид боковых вкладок, фон*/
		flex-direction: column;
		width: 320px;
	}

	.ourproducts-flexbox__nav li {				/*Вид боковых вкладок в инактивном состоянии*/
		width: 100%;
		max-width: 320px;
		height: 120px;
		background-color: #fff;
	}

	.ourproducts-flexbox__nav li a {			/*Общий вид боковых вкладок, текст*/
		max-width: 305px;
		height: 70px;	
		padding-top: 50px;
		padding-left: 15px;
		font-weight: 100;
		font-family: "OpenSans";
		color: black;
		font-size: 17px;
		text-align: left;
		text-decoration:none;
	}

	.select:after {
		display: none;
	}

	.ourproducts-flexbox__nav li a:after {		/*Общий вид боковых вкладок, текст*/
		display: none;
	}

	.ourproducts-flexbox__nav li a:hover {		/*Поведение при наведении на вкладку*/
		background: #f0f7fb;
	}

	.ourproducts-flexbox__nav li.select a {		/*Вид выбранной вкладки*/
		background: #e6eff6;
	}

	.ourproducts-flexbox__col1 {				/*Вид блока-описания*/
		display: block;
		height: 480px;
		width: 320px;
		background-color: #e6eff6;
	}

	.ourproducts-flexbox__col2 {				/*Граница между блоками-описаниями*/
		display: block;
		height: 430px;
		width: 39px;
		border-left: 1px solid #cddfed;
		background-color: #e6eff6;
	}

	.ourproducts-flexbox__col3 {				/*Вид блока-описания*/
		display: block;
		height: 480px;
		width: 280px;
		background-color: #e6eff6;
	}

	.ourproducts-flexbox__col1 img {			/*Картинка на большом экране*/
		border-radius: 50%;
		margin-top: 55px;
		margin-left: 55px;
	}

	.ourproducts-flexbox__col1 p {				/*Цена на большом экране*/
		font-weight: 100;
		font-family: "OpenSans";
		color: black;
		font-size: 15px;
		text-align: left;
		position: absolute;
		top: 413px;
		margin-left: 55px;
	}

	.ourproducts-flexbox__col3--mobflex {
		display: block;
		height: 100%;
	}

	.ourproducts-flexbox__col3 h3 {				/*Название продукта на малом экране*/
		display: none;
	}

	.ourproducts-flexbox__col3 img {			/*Картинка на малом экране*/
		display: none;
	}

	.ourproducts-text {							/*Описание продукта*/
		display: block;
		width: 245px; 
		height: 325px;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 50px;
		text-align: justify;	
	}

	.ourproducts-price {						/*Цена на малом экране*/
		display: none;
	}

	.ourproducts-flexbox__col3 a {				/*Кнопка заказа*/
		position: absolute;
		top: 395px;
		background-color: #fff;
		border: solid 1px #cddfed;
		padding: 15px 80px;
		width: 83px;	
	}

}

.section-delivery {
	background-color: #b3cee3;
	height: 725px;
}

.delivery-flexbox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 95%;
	margin: auto;
}

.delivery-flexbox__images {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 600px;
	position: relative;
}

.delivery-flexbox__images:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 275px;
	border-left: dotted 2px black;
	top: 165px;
	left: 74px;
}

.delivery-flexbox__images_steps {
	list-style: none;
	width: 150px;
}

.delivery-imagewrap {
	background-color: white;
	border: solid 2px black;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	position: relative;
	margin: auto;
}

.delivery_image {
	position: absolute;
	top: 30px;
	left: 30px;
}

.delivery-flexbox__description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 600px;
}

.delivery-flexbox__description_steps {
	list-style: none;
	width: 150px;
	height: 124px;
}

.delivery_description {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;
	text-align: left;
}

@media only screen 
and (min-width: 769px) {
	
	.section-delivery {
		height: 450px;
	}

	.delivery-flexbox {
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		margin-top: 30px;
	}

	.delivery-flexbox-line {
		width: 60%;
		max-width: 870px;
		height: 1px;
		border-bottom: dotted 2px black;
		margin: auto;
	}

	.delivery-flexbox__images {
		flex-direction: row;
		width: 90%;
		max-width: 1160px;
		height: 125px;
		margin: auto;
	}

	.delivery-flexbox__images:before {
		content: "";
		position: absolute;
		width: 60%;
		max-width: 700px;
		height: 1px;
		border-top: dotted 2px black;
		top: 61px;
		left: 70px;
		margin-left: 15%;
	}

	.delivery-flexbox__description {
		flex-direction: row;
		width: 90%;
		max-width: 1160px;
		height: 125px;
		margin: auto;
		margin-top: 20px;
	}

	.delivery-flexbox__description_steps {
		list-style: none;
		width: 200px;
	}

	.delivery_description {
		text-align: center;
	}

}

.section-order {
	height: 1080px;
	background-color: #81aed1;
}

.order-flexbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	margin-top: 30px;
}

.order-flexbox__form {
	background-color: #cddfed;
	padding: 30px 40px 20px 40px;
	position: relative;
}

.order-flexbox__form form {
	width: 290px;
}

.order-flexbox__form_text {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 20px;
	text-align: left;
	margin-bottom: 15px;
	width: 290px;
}

.form-input-contact {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;	
	padding: 10px 20px;
	margin-top: 10px;
	width: 250px;
	height: 25px;
	border: none;
	border-radius: 0;
	display: inline-block;
}

.alert {
	border: solid 1px #ffb497;
	background-color: #ffefda;
}

.form-input-message {
	resize: none;
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;	
	padding: 10px 20px;
	margin-top: 10px;
	width: 250px;
	height: 50px;
	border: none;
	border-radius: 0;
	display: inline-block;
}

.form-input-button {
	padding: 18px 20px 18px 0px;
	width: 290px;
	border: none;
	background-color: #fff;
	font-weight: 600;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;
	margin: 10px 0px 10px 0px;
	display: inline-block;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.submitted {
	outline: none;
}

.form-message_nonsubmitted {
	display:none;
}

.form-message_submitted {
	width: 270px;
	height: 31px;
	padding: 10px;
	background-color: #81aed1;
	font-weight: 100;
	font-family: "OpenSans";
	color: #fff;
	font-size: 15px;
	text-align: center;
	position: absolute;
	bottom: 20px;
	animation: form-message 2s ease-out 1;
	animation-fill-mode: forwards;
}

@keyframes form-message {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.8;
	}

	100% {
		opacity: 0;
	}
}

.form-input-checkbox {
	font-weight: 100;
	font-family: "OpenSans";
	color: #a9a9a9;
	font-size: 10px;
}

.label {
	margin-left: 10px;
}

.order-flexbox__or {
	height: 80px;
	width: 40px;
}

.order-flexbox__or_text {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 20px;
	text-align: center;
	margin-top: 30px;
}

.order-flexbox__contacts {
	background-color: #cddfed;
	height: 420px;
	width: 370px;
	position: relative;
}

.order-flexbox__contacts:after {
	content: "";
	display: block;
	position: absolute;
	width: 125px;
	height: 125px;
	background-image: url(./images/seaweed_4.svg);
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 0px;
	right: 0px;
}

.order-flexbox__contacts:before {
	content: "";
	display: block;
	position: absolute;
	width: 70px;
	height: 70px;
	background-image: url(./images/seaweed_5.svg);
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 0px;
	right: 115px;
}

.order-flexbox__contacts_text {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 20px;
	text-align: center;
    margin: 30px 40px;
	width: 290px;
}

.contacts-phone {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 60px;
}

.link {
	text-decoration: none;
	color: black;
}

.contacts-hours {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 12px;
	text-align: center;
	margin-bottom: 50px;
}

.picture {
	text-align: center;
}

@media only screen 
and (min-width: 805px) {

	.section-order {
		height: 610px;
	}

	.order-flexbox {
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		max-width: 1050px;
	}

}

.footer {
	background-color: #000;
	background-image: url(./images/footer_fl.jpg);
	background-position: left bottom;
	background-size: cover;
	background-repeat: no-repeat;
	height: 450px;
	text-align: center;
	position: relative;
}

.footer h5 {
	font-weight: 100;
	font-family: "OpenSans";
	color: white;
	font-size: 35px;
	padding-top: 40px;
}

.footer div {
	text-align: center;
}

.footer__instagram-logo {
	margin: 50px 0px 30px 0px;
}

.footer-link {
	font-weight: 100;
	font-family: "OpenSans";
	color: white;
	text-decoration: underline;
	font-size: 15px;
}

.footer-text {
	font-weight: 100;
	font-family: "OpenSans";
	color: white;
	font-size: 15px;
	line-height: 30px;
	padding: 50px 0px;
}

@media only screen 
and (min-width: 1025px) {

	.footer {
		background-image: url(./images/footer_fl.jpg);	
	}
}