@font-face {
	font-weight: 100;
	font-family: "AvenirNext";
	src: url("./fonts/AvenirNext/AvenirNextCyr-Thin.ttf");
}

@font-face {
	font-weight: 300;
	font-family: "AvenirNext";
	src: url("./fonts/AvenirNext/AvenirNextCyr-Regular.ttf");
}

@font-face {
	font-weight: 600;
	font-family: "AvenirNext";
	src: url("./fonts/AvenirNext/AvenirNextCyr-Demi.ttf");
}

@font-face {
	font-weight: 100;
	font-family: "OpenSans";
	src: url("./fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
	font-weight: 300;
	font-family: "OpenSans";
	src: url("./fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
	font-weight: 600;
	font-family: "OpenSans";
	src: url("./fonts/OpenSans/OpenSans-Bold.ttf");
}


@font-face {
	font-weight: 100;
	font-family: "ProximaNova";
	src: url("./fonts/ProximaNova/ProximaNova-Light.otf");
}

@font-face {
	font-weight: 300;
	font-family: "ProximaNova";
	src: url("./fonts/ProximaNova/ProximaNova-Reg.otf");
}

@font-face {
	font-weight: 600;
	font-family: "ProximaNova";
	src: url("./fonts/ProximaNova/ProximaNova-Bold.otf");
}

@font-face {
	font-weight: 100;
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-Thin.ttf");
}

@font-face {
	font-weight: 300;
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "EntypoSocial";
	src: url("./fonts/entypo-social.ttf");
}

@font-face {
	font-weight: 600;
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
}

.header {
	background-color: #fff;	
	background-image: url(./images/header_fl.jpeg);	
	background-position: center bottom;	
	background-size: cover;
	background-repeat: no-repeat;	
	height: 550px;
	position: relative;
	z-index: 1;
}

.header::after {
	position: absolute;
	top: 0px;
	display: block;
	background-color: rgba(179,206,227,0.7);
	height: 550px;
	width: 100%;
	content: "";
	z-index: 2;
}

.header__title {
	z-index: 4;
	position: relative;
}

.header__title h1 {
	font-weight: 100;
	font-family: "OpenSans";
	color: white;
	font-size: 35px;
	text-align: center;
	margin-top: 0;
	padding-top: 230px;
}

.header::before {
	position: absolute;
	top: 521px;
	display: block;
	background-image: url(./images/sea.svg);
	background-position: center bottom;	
	height: 30.2px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	content: "";
	z-index: 3;
}

@media only screen 
and (min-width: 1025px) {

	.header {
		background-color: #fff;	
		background-image: url(./images/header_fl.jpeg);	
		}
}

.section-ourproducts {
	height: 970px;
	background-color: #fff;
	overflow: scroll;
}

.section-title {
	font-weight: 600;
	font-family: "OpenSans";
	color: black;
	font-size: 25px;
	text-align: center;
	margin-top: 0;
	padding-top: 35px;
	padding-bottom: 20px;
}

.ourproducts-description {					/* Вся таблица с вкладками - внешняя форма*/
	width: 100%;
	margin: 0;
}

.ourproducts-flexbox {						/* Вся таблица с вкладками - внутренняя структура*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	height: 825px;
	margin-top: 30px;
}

.ourproducts-flexbox__nav {					/*Общий вид боковых вкладок, фон*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	list-style: none;
}

.ourproducts-flexbox__nav li {				/*Вид боковых вкладок в инактивном состоянии*/
	width: 25%;
	max-width: 100px;
	height: 0px;
	position: relative;
}

.ourproducts-flexbox__nav li a {			/*Общий вид боковых вкладок, текст*/
	display: block;
	width: 100%;
	max-width: 100px;
	height: 0px;
}

.select:after {
	content: "";
	display: block;
	padding-bottom: 100%;
	background-color: #cddfed;
	border: solid 1px #fff;
}

.ourproducts-flexbox__nav li a:after {		/*Общий вид боковых вкладок, текст*/
	content: "";
	display: block;
	padding-bottom: 100%;
	background-color: #f0f7fb;
	border: solid 1px #fff;
}

.tab_image {
	width: 80%;
	height: auto;
	position: absolute;
	padding: 10% 10%;
}

.ourproducts-flexbox__col1 {				/*Вид блока-описания*/
	display: none;
}

.ourproducts-flexbox__col2 {				/*Граница между блоками-описаниями*/
	display: none;
}

.ourproducts-flexbox__col3 {				/*Вид блока-описания*/
	height: 725px;
	width: 90%;
	background-color: #fff;
}

.ourproducts-flexbox__col3--mobflex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 725px;
}

.ourproducts-flexbox__col3 h3 {				/*Название продукта на малом экране*/
	display: block;
	font-weight: 600;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 30px;
}	

.ourproducts-flexbox__col3 img {			/*Картинка на малом экране*/
	display: block;
	border-radius: 50%;
	margin: auto;
}

.ourproducts-text {							/*Описание продукта*/
	display: inline-block;
	width: 80%; 
	height: auto;
	padding-top: 50px;
	margin: auto;
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;
	text-align: justify;
}

.ourproducts-price {						/*Цена на малом экране*/
	display: inline-block;
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.ourproducts-flexbox__col3 a {				/*Кнопка заказа*/
	font-weight: 600;
	font-family: "OpenSans";
	color: black;
	font-size: 17px;
	text-decoration: none;
	background-color: #e6eff6;
	border: none;
	padding: 15px 60px 15px 60px;
	width: 80px;
	margin: auto;	
}


@media only screen 
and (min-width: 1024px) {

	.section-ourproducts {
		height: 700px;
	}

	.ourproducts-description {					/* Вся таблица с вкладками - внешняя форма*/
		margin-top: 30px;
		position: relative;
	}

	.ourproducts-flexbox {						/* Вся таблица с вкладками - внутренняя структура*/
		flex-direction: row;
		width: 960px;
		background-color: #e6eff6;
		margin: auto;
		height: 480px;
		margin-top: 0;
	}

	.ourproducts-flexbox__nav {					/*Общий вид боковых вкладок, фон*/
		flex-direction: column;
		width: 320px;
	}

	.ourproducts-flexbox__nav li {				/*Вид боковых вкладок в инактивном состоянии*/
		width: 100%;
		max-width: 320px;
		height: 120px;
		background-color: #fff;
	}

	.ourproducts-flexbox__nav li a {			/*Общий вид боковых вкладок, текст*/
		max-width: 305px;
		height: 70px;	
		padding-top: 50px;
		padding-left: 15px;
		font-weight: 100;
		font-family: "OpenSans";
		color: black;
		font-size: 17px;
		text-align: left;
		text-decoration:none;
	}

	.select:after {
		display: none;
	}

	.ourproducts-flexbox__nav li a:after {		/*Общий вид боковых вкладок, текст*/
		display: none;
	}

	.ourproducts-flexbox__nav li a:hover {		/*Поведение при наведении на вкладку*/
		background: #f0f7fb;
	}

	.ourproducts-flexbox__nav li.select a {		/*Вид выбранной вкладки*/
		background: #e6eff6;
	}

	.ourproducts-flexbox__col1 {				/*Вид блока-описания*/
		display: block;
		height: 480px;
		width: 320px;
		background-color: #e6eff6;
	}

	.ourproducts-flexbox__col2 {				/*Граница между блоками-описаниями*/
		display: block;
		height: 430px;
		width: 39px;
		border-left: 1px solid #cddfed;
		background-color: #e6eff6;
	}

	.ourproducts-flexbox__col3 {				/*Вид блока-описания*/
		display: block;
		height: 480px;
		width: 280px;
		background-color: #e6eff6;
	}

	.ourproducts-flexbox__col1 img {			/*Картинка на большом экране*/
		border-radius: 50%;
		margin-top: 55px;
		margin-left: 55px;
	}

	.ourproducts-flexbox__col1 p {				/*Цена на большом экране*/
		font-weight: 100;
		font-family: "OpenSans";
		color: black;
		font-size: 15px;
		text-align: left;
		position: absolute;
		top: 413px;
		margin-left: 55px;
	}

		.ourproducts-flexbox__col3--mobflex {
		display: block;
		height: 100%;
	}

	.ourproducts-flexbox__col3 h3 {				/*Название продукта на малом экране*/
		display: none;
	}

	.ourproducts-flexbox__col3 img {			/*Картинка на малом экране*/
		display: none;
	}

	.ourproducts-text {							/*Описание продукта*/
		display: block;
		width: 245px; 
		height: 325px;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 50px;
		text-align: justify;	
	}

	.ourproducts-price {						/*Цена на малом экране*/
		display: none;
	}

	.ourproducts-flexbox__col3 a {				/*Кнопка заказа*/
		position: absolute;
		top: 395px;
		background-color: #fff;
		border: solid 1px #cddfed;
		padding: 15px 80px;
		width: 83px;	
	}

}

.section-delivery {
	color: yellow;
}

@media only screen and (max-width: 1023px) {
	
	.section-delivery {
	height: 800px;
	background-color: yellow;
	}

	.section-deliverysteps {
		display: flex;
		margin: auto;
		flex-direction: column;
		justify-content: space-around;
		margin-top: 25px;
		min-height: 500px;
		align-items: center;
	}
}

.section-deliverysteps__step1 {
	background-color: white;
	border-color: navy;
	border-width: 1px;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	border: solid;
	position: relative;
	z-index: 2;
}

.section-deliverysteps__step2 {
	background-color: white;
	border-color: navy;
	border-width: 1px;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	border: solid;
	position: relative;
	z-index: 2;
}

.section-deliverysteps__step3 {
	background-color: white;
	border-color: navy;
	border-width: 1px;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	border: solid;
	position: relative;
	z-index: 2;
}

.section__delivery_image_1 {
	position: absolute;
	top: 30px;
	left: 30px;
}

.section__delivery_image_2 {
	position: absolute;
	top: 30px;
	left: 30px;
}

.section__delivery_image_3 {
	position: absolute;
	top: 30px;
	left: 25px;
}

.section__delivery_description {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 20px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.section__order {
	height: 550px;
	background-color: #cddfed;
}

.section__order_contacts {
	display: flex;
	margin: auto;
	max-width: 1000px;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30px;
}


@media only screen and (max-width: 1023px) {
	
	.section__order {
	height: 1015px;
	}

	.section__order_contacts {
		display: flex;
		margin: auto;
		flex-direction: column;
		justify-content: space-around;
		margin-top: 25px;
		min-height: 500px;
		align-items: center;
	}
}

.section__order_contacts_opt1 {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 20px;
	text-align: left;
	margin-bottom: 15px;
	width: 290px;
}

.section__order_contacts_form1 {
	background-color: #e6eff6;
	padding: 30px 40px 20px 40px;
	margin-top: 10px;
}

.section__order_contacts_form2 {
	margin-top: 10px;
	height: 80px;
	width: 30px;
}

.section__order_contacts_form3 {
	background-color: #e6eff6;
	margin-top: 10px;
	height: 391px;
	width: 375px;
}

.section__order_contacts_form_contact {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;	
	padding: 10px 20px;
	margin-top: 10px;
	width: 250px;
	height: 25px;
	border: none;
}

.section__order_contacts_form_message {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;	
	padding: 10px 20px;
	margin-top: 10px;
	width: 250px;
	height: 50px;
	border: none;
}

.section__order_contacts_form_button {
	padding: 18px 20px 18px 0px;
	width: 290px;
	border: none;
	background-color: #fff;
	font-weight: 600;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;
	margin-top: 10px;
}

.section__order_contacts_alt {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 20px;
	text-align: center;
	margin-top: 30px;
}

.section__order_contacts_opt2 {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 20px;
	text-align: center;
    margin: 30px 40px;
	width: 290px;
}

.section__order_contacts_contactus1 {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 15px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 60px;
}

.section__order_contacts_contactus2 {
	font-weight: 100;
	font-family: "OpenSans";
	color: black;
	font-size: 11px;
	text-align: center;
	margin-bottom: 50px;
}

.link {
	text-decoration: none;
	color: black;
}

.picture {
	text-align: center;
}



.footer {
	background-color: #000;	
	background-image: url(./images/footer_fl.jpg);	
	background-position: left bottom;	
	background-size: cover;
	background-repeat: no-repeat;	
	height: 450px;
	text-align: center;
	position: relative;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 750px)  {
  .footer {
    background-color: red;
    background-image: none;
  }
}

  .footer__head {
	font-weight: 100;
	font-family: "OpenSans";
	color: white;
  	font-size: 35px;
  	padding: 40px 0px 0px 0px;
  }

.instagram {
	margin-top: 50px;
	margin-bottom: 30px;
}

  .footer__links {
	font-weight: 100;
	font-family: "OpenSans";
	color: white;
  	text-decoration: underline;
  	font-size: 15px;
	line-height: 30px;
  }

  .footer__text {
	font-weight: 100;
	font-family: "OpenSans";
	color: white;
  	font-size: 15px;
  	line-height: 30px;
  	padding: 50px 0px;
  }

.picture_footer {
	text-align: center;
}